body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
}

.contact-area {
    display: flex;
    margin: 5rem;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 3rem;
    justify-content: space-between;
    width: auto;
}

.contact-area-left {
    display: flex;
    flex-direction: column;
}

.contact-area button {
    border: #e5e7eb solid;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    flex: 0 1 350px;
}

.header-links {
    flex: 0 1 350px;
    justify-content: flex-end;
    color: #e5e7eb;
}

.content {
    display: flex;
    flex-direction: column;
}

.first-view-area {
    padding: 5rem;
    display: flex;
    background-color: #1f2937;
    gap: 2rem;
    color: #f9faf8;
    justify-content: center;
}

.first-view-left {
    display: flex;
    flex-direction: column;
    flex: 0 1 400px;
    gap: 0.5rem;
}

.first-view-area .title {
    font-size: 3rem;
    font-weight: 900;
}

.first-view-right {
    flex: 0 1 300px;
}

.info-area {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.info-area .title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    flex-wrap: wrap;
}

.card img {
    width: 10rem;
    height: auto;
    border-radius: 16px;
}

.card .text {
    color: #1f2937;
    text-align: center;
}

.quote-area {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background-color: #e5e7eb;
    align-items: center;
}

.quote {
    color: #1f2937;
    font-size: 2.25rem;
    font-weight: 200;
    font-style: italic;
}

.quote-author {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    text-align: right;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 1rem;
}

.first-view-area {
    display: flex;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 128px;
    padding: 8px 16px; /* Add padding for better appearance */
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.contact-area .title {
    color: #f9faf8;
    font-size: 1.5rem;
    font-weight: bold;
}

.contact-area .text {
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2em;
}